@import "./partials/header";
@import "./partials/sidebar";
@import "./partials/sidebaroption";
@import "./partials/mail";
@import "./partials/emaillist";
@import "./partials/section";
@import "./partials/emailrow";
@import "./partials/sendmail";

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100vh;
}

.App__body {
  display: flex;
  height: 100vh;
}
